<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/owner/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owner/lib/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/owner/style.css" rel="stylesheet" />
    <link href="/css/owner/mainlogo.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/user/lib/wow/wow.min.js"></script>
    <script src="/js/owner/lib/chart/chart.min.js"></script>
    <script src="/js/owner/lib/easing/easing.min.js"></script>
    <script src="/js/user/lib/counterup/counterup.min.js"></script>
    <script src="/js/user/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/js/owner/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/owner/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script type="module" src="/js/owner/main.js"></script>
  </head>

  <body>
  <div id="app">
    
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
          <a href="index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>SmartReserve</h3>
          </a>
          <div class="navbar-nav w-100">
            <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>메인</a>
            <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>매장 조회</a>
            <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>유저 조회</a>
            <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>리뷰 삭제 요청건</a>
            <a href="/view/owner/review.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>예약 내역 조회</a>
            </div>
          </div>
        </nav>
      </div>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
          <a href="/view/owner/index" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
          </a>
          <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
          </a>
          <form class="d-none d-md-flex ms-4">
            <input class="form-control border-0" type="search" placeholder="검색" />
          </form>
          <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">알림</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item" role="button">
                  <h6 class="fw-normal mb-0">프로필 업데이트</h6>
                  <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider" />
                <a href="#" class="dropdown-item">
                  <h6 class="fw-normal mb-0">홍길북 님의 예약요청</h6>
                  <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider" />
                <a href="#" class="dropdown-item">
                  <h6 class="fw-normal mb-0">홍길순님이 예약을 취소했습니다</h6>
                  <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider" />
                <a href="#" class="dropdown-item text-center">모든 알림메세지 확인하기</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <span class="d-none d-lg-inline-flex">관리자</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a @click="logoutProcess" href="#" class="dropdown-item">로그아웃</a>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
              <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">매장 조회</h6>
                </div>
                <div class="py-2 my-3 border rounded">식당 종류
                  <div class="d-flex justify-content-around">
                    <div v-for="(category, index) in categories" :key="category.categoryCodeId">
                      <input type="checkbox" class="btn-check" :id="'btn-category'+index" autocomplete="off" v-model="categoryId" :value="category.categoryCodeId">
                      <label class="btn btn-outline-primary" :for="'btn-category'+index">{{category.categoryName}}</label>
                    </div>
                  </div>
                </div>
                <div class="py-2 my-3 border rounded">지역
                  <div>
                    <span v-for="(sidoCode, index) in sidoCodes" :key="sidoCodes.sidoCodeId">
                        <input type="checkbox" class="btn-check" :id="'btn-sidoCode'+index" autocomplete="off" v-model="sidoCodeId" :value="sidoCode.sidoCodeId">
                        <label class="btn btn-outline-primary m-2" :for="'btn-sidoCode'+index">{{sidoCode.sidoName}}</label>
                    </span>
                  </div>
                </div>
                <div class="py-2 my-3 border rounded d-flex justify-content-center">
                  <div class="w-50 input-group">
                    <span class="input-group-text">매장 이름 검색</span>
                    <input class="form-control" type="text" v-model="searchParam" @keydown.enter="fetchStores">
                    <button class="btn btn-success">검색</button>
                  </div>
                </div>
                <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>매장ID</th>
                      <th>이름</th>
                      <th>주소</th>
                      <th>전화번호</th>
                      <th>종류</th>
                      <th>편의시설</th>
                      <th>자세히</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="store in paginatedStores" :key="store.storeId">
                      <td class="w-10">{{ store.storeId }}</td>
                      <td class="w-10">{{ store.storeName }}</td>
                      <td class="w-10">{{ store.address }}</td>
                      <td class="w-10">{{ store.tel }}</td>
                      <td class="w-20">
                        <span v-for="category in store.storeCategories" :key="category.categoryCodeId">
                        {{ category.categoryName }}
                        </span>
                      </td>
                      <td class="">
                        <span v-for="facility in store.facilities" :key="facility.facilityCodeId" class="badge bg-info text-dark">
                        {{ facility.facilityName }}
                        </span>
                      </td>
                      <td class="w-5">
                        <button class="btn btn-primary">자세히보기</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <div id="pagination text-center">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" v-if="currentPage > 1" @click="changePage(currentPage - 1)">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item" v-for="page in totalPages" :key="page" @click="changePage(page)"><a class="page-link" href="#">{{ page }}</a></li>
                    <li class="page-item" v-if="currentPage < totalPages" @click="changePage(currentPage + 1)">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light rounded-top p-4">
            <div class="row">
              <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">smartreserve.store</a>, All Right Reserved.
              </div>
            </div>
          </div>
        </div>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <script src="/js/admin/srAdminStores.js"></script>
  </div>
  </body>
</html>
