<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/owner/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owner/lib/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/owner/style.css" rel="stylesheet" />
    <link href="/css/owner/mainlogo.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/user/lib/wow/wow.min.js"></script>
    <script src="/js/owner/lib/chart/chart.min.js"></script>
    <script src="/js/owner/lib/easing/easing.min.js"></script>
    <script src="/js/user/lib/counterup/counterup.min.js"></script>
    <script src="/js/user/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/js/owner/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/owner/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/node_modules/fullcalendar/index.global.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Template Javascript -->
    <script type="module" src="/js/owner/main.js"></script>
  </head>

  <body>
  <div id="app">
    
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      <spinner-component></spinner-component>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <div id="sidebar" class="sidebar pe-4 pb-3">
        <sidebar-component></sidebar-component>
        </div>
      </div>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <navbar-component></navbar-component>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
              <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">매장 조회</h6>
                </div>
                <div class="py-2 my-3 border rounded">식당 종류
                  <div class="d-flex justify-content-around">
                    <div v-for="(category, index) in categories" :key="category.categoryCodeId">
                      <input type="checkbox" class="btn-check" :id="'btn-category'+index" autocomplete="off" v-model="categoryId" :value="category.categoryCodeId">
                      <label class="btn btn-outline-primary" :for="'btn-category'+index">{{category.categoryName}}</label>
                    </div>
                  </div>
                </div>
                <div class="py-2 my-3 border rounded">지역
                  <div>
                    <span v-for="(sidoCode, index) in sidoCodes" :key="sidoCodes.sidoCodeId">
                        <input type="checkbox" class="btn-check" :id="'btn-sidoCode'+index" autocomplete="off" v-model="sidoCodeId" :value="sidoCode.sidoCodeId">
                        <label class="btn btn-outline-primary m-2" :for="'btn-sidoCode'+index">{{sidoCode.sidoName}}</label>
                    </span>
                  </div>
                </div>
                <div class="py-2 my-3 border rounded d-flex justify-content-center">
                  <div class="w-50 input-group">
                    <span class="input-group-text">매장 이름 검색</span>
                    <input class="form-control" type="text" v-model="searchParam" @keydown.enter="fetchStores">
                    <button class="btn btn-success">검색</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-start">
                    <span>매장 갯수 : {{ totalStoreCount }}</span>
                    <span>
                      <div class="form-check">
                        <label class="form-check-label" for="flexCheckChecked">
                          <input class="form-check-input" type="checkbox" v-model="showBlock" id="flexCheckChecked">
                          차단한 식당만 보기
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="col text-start">
                  </div>
                  <div class="col text-end">
                    <span>페이지당 갯수</span>
                    <select v-model="pageSize" @change="fetchStores" name="pageSize">
                      <option value="5">5</option>
                      <option value="10" selected>10</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                </div>
              </div>
                <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>매장ID</th>
                      <th>매장이름</th>
                      <th>주소</th>
                      <th>전화번호</th>
                      <th>수정</th>
                      <th>차단</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="store in paginatedStores" :key="store.storeId">
                      <td class="w-5">{{ store.storeId }}</td>
                      <td class="w-10">{{ store.storeName }}</td>
                      <td class="w-10">{{ store.address }}</td>
                      <td class="w-10">{{ store.tel }}</td>
                      <!-- <td class="w-20">
                        <span v-for="category in store.storeCategories" :key="category.categoryCodeId">
                        {{ category.categoryName }}
                        </span>
                      </td>
                      <td class="">
                        <span v-for="facility in store.facilities" :key="facility.facilityCodeId" class="badge bg-info text-dark">
                        {{ facility.facilityName }}
                        </span>
                      </td> -->
                      <td class="w-5">
                        <button @click="openModalForUpdate(store.storeId)" class="btn btn-primary">자세히보기</button>
                      </td>
                      <td class="w-5" v-if="showBlock == false">
                        <button @click="" class="btn btn-danger">차단하기</button>
                      </td>
                      <td class="w-5" v-if="showBlock == true">
                        <button @click="" class="btn btn-success">차단해제</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <div id="pagination text-center">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" v-if="currentPage > 1" @click="changePage(currentPage - 1)">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item" v-for="page in totalPages" :key="page" @click="changePage(page)"><a class="page-link" href="#">{{ page }}</a></li>
                    <li class="page-item" v-if="currentPage < totalPages" @click="changePage(currentPage + 1)">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer Start -->
        <footer-component></footer-component>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <div class="modal fade" id="storeModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">매장정보 수정하기</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body"> 
              <form>
                <div class="mb-3">
                  <label for="storeName" class="form-label">매장명</label>
                  <input type="text" class="form-control mb-3" id="storeName" v-model="storeInfo.storeName" :placeholder="storeInfo.storeName">
                  <label for="tel" class="form-label">전화번호</label>
                  <input type="text" class="form-control mb-3" id="tel" v-model="storeInfo.tel" :placeholder="storeInfo.tel">
                  <label for="address" class="form-label">매장주소</label>
                  <input type="text" class="form-control mb-3" id="address" v-model="storeInfo.address" :placeholder="storeInfo.address" @click="openAddress" readonly>
                </div>
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <script src="/js/admin/component.js"></script>
    <script src="/js/admin/srAdminStores.js"></script>
  </div>
  </body>
</html>
