<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.admin.store.adminStoreMapper">

<select id="getScheduleByDayCode" parameterType="int" resultType="com.team.goott.owner.domain.ScheduleDTO">
    SELECT * 
    FROM schedule
    WHERE dayCodeId = #{dayCode}
    ORDER BY storeId
</select>

<select id="getRotationCodeIdByStoreId" parameterType="int" resultType="int">
    SELECT r.rotation
    FROM store s
    JOIN rotationCode r ON s.rotationId = r.rotationCodeId
    WHERE s.storeId = #{storeId}
</select>

<select id="getExistingSlots" parameterType="map" resultType="com.team.goott.owner.domain.ReserveSlotsDTO">
    SELECT * 
    FROM reserveSlots
    WHERE DATE(slotDatetime) = #{date}
    AND storeId = #{storeId}
</select>

<insert id="insertReserveSlot" parameterType="com.team.goott.owner.domain.ReserveSlotsDTO">
    INSERT IGNORE INTO reserveSlots (storeId, slotDatetime)
    VALUES (#{storeId}, #{slotDatetime})
</insert>

<select id="getAllStoreLists" resultType="com.team.goott.owner.domain.StoreDTO">
	SELECT *
	FROM STORE
	WHERE isBlocked = 0
</select>

<insert id="batchInsertSlots" parameterType="java.util.List">
    INSERT INTO reserveSlots (storeId, slotDatetime)
    VALUES
    <foreach collection="list" item="slot" separator=",">
        (#{slot.storeId}, #{slot.slotDatetime})
    </foreach>
</insert>
</mapper>