<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="/node_modules/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/css/owner/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="/css/owner/lib/tempusdominus/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/css/owner/style.css" rel="stylesheet" />
    <link href="/css/owner/mainlogo.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/owner/index.css" />

    <!-- fullcalenda CDN -->
    <script src="
    https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js
    "></script>

    <!-- JavaScript Libraries -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/user/lib/wow/wow.min.js"></script>
    <script src="/js/owner/lib/chart/chart.min.js"></script>
    <script src="/js/owner/lib/easing/easing.min.js"></script>
    <script src="/js/user/lib/counterup/counterup.min.js"></script>
    <script src="/js/user/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/js/owner/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/owner/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script type="module" src="/js/owner/main.js"></script>
    <script src="/js/owner/component.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="container-xxl position-relative bg-white d-flex p-0">
        <spinner-component></spinner-component>
        <!-- Sidebar Start -->
        <sidebar-component></sidebar-component>
      </div>
      <!-- Sidebar End -->

      <div class="content">
        <!-- Navbar Start -->
        <navbar-component></navbar-component>
        <!-- Navbar End -->
        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4 mb-4">
          <!-- 최근 예약 -->
          <div id="reviewLists" class="container-fluid pt-4 px-4 mb-4">
            <div class="bg-light text-center rounded p-4">
              <div
                class="d-flex align-items-center justify-content-between mb-4"
              >
                <h6 class="mb-0">승인 대기중인 예약</h6>
                <a href="/view/owner/reserve">전체 보기</a>
              </div>
              <div class="table-responsive">
                <table
                  class="table text-start align-middle table-bordered table-hover mb-0"
                >
                  <thead>
                    <tr class="text-dark">
                      <th scope="col">예약 ID</th>
                      <th scope="col">가게 ID</th>
                      <th scope="col">고객명</th>
                      <th scope="col">인원수</th>
                      <th scope="col">메모</th>
                      <th scope="col">예약 날짜</th>
                      <th scope="col">예약 상태</th>
                      <th scope="col">예약 상태 변경</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 최대 5개만 보여줌 -->
                    <tr
                      v-for="(reserve, index) in filteredReserves"
                      :key="reserve.reserveId"
                    >
                      <td>{{ reserve.reserveId }}</td>
                      <td>{{ reserve.storeId }}</td>
                      <td>{{ reserve.name }}</td>
                      <td>{{ reserve.people }}</td>
                      <td>{{ reserve.memo }}</td>
                      <td>{{ reserve.reserveTime }}</td>
                      <td>
                        <span v-if="reserve.statusCodeId === 1">대기</span>
                        <span v-else-if="reserve.statusCodeId === 2">승인</span>
                        <span v-else-if="reserve.statusCodeId === 3">취소</span>
                        <span v-else-if="reserve.statusCodeId === 4">완료</span>
                        <span v-else-if="reserve.statusCodeId === 5"
                          >리뷰 작성 완료</span
                        >
                      </td>
                      <td class="status-button">
                        <button
                          class="btn btn-success btn-block"
                          @click="updateReserveStatus(reserve.reserveId, 2)"
                        >
                          예약 승인
                        </button>
                        <button
                          class="btn btn-danger btn-block"
                          @click="updateReserveStatus(reserve.reserveId, 3)"
                        >
                          예약 취소
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="container-fluid row g-4 mb-2">
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">오늘 판매 수익</p>
                  <h6 class="mb-0">{{todayTotalSales.toLocaleString()}}원</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">총 판매 수익</p>
                  <h6 class="mb-0">{{totalSales.toLocaleString()}}원</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">오늘 결제 수</p>
                  <h6 class="mb-0">{{todayTotalSalesCount}}개</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">총 결제 수</p>
                  <h6 class="mb-0">{{totalSalesCount}}개</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid row g-4">
            <div
              class="col-sm-6 col-xl-3"
              v-for="(sale, quarter) in quarters"
              :key="quarter"
            >
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-solid fa-coins fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">{{quarter}}분기 수익</p>
                  <h6 class="mb-0">{{sale.toLocaleString()}}원</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sale & Revenue End -->
        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4 mb-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
              <div class="bg-light text-center rounded p-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <h6 class="mb-0">최근 6개월 매출 추이</h6>
                </div>
                <canvas id="sales-chart"></canvas>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class="bg-light text-center rounded p-4">
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <h6 class="mb-0">최근 6개월 결제 수 추이</h6>
                </div>
                <canvas id="salesCount-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- Sales Chart End -->

        <!-- Calendar -->
        <div id="calendar"></div>

        <!-- 최근 리뷰 -->
        <div id="reviewLists" class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">최근 리뷰</h6>
              <a href="/view/owner/review">전체 보기</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">리뷰 ID</th>
                    <th scope="col">가게 ID</th>
                    <th scope="col">유저 ID</th>
                    <th scope="col">점수</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성 날짜</th>
                    <th scope="col">삭제 요청</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 최대 5개만 보여줌 -->
                  <tr
                    v-for="(review, index) in filteredReviews"
                    :key="review.reviewId"
                  >
                    <td>{{ review.reviewId }}</td>
                    <td>{{ review.storeId }}</td>
                    <td>{{ review.userId }}</td>
                    <td>{{ review.score }}</td>
                    <td>{{ review.content }}</td>
                    <td>{{ formatDate(review.createAt) }}</td>
                    <td>
                      <button
                        class="btn btn-danger btn-block"
                        @click="deleteReq(review.reviewId)"
                      >
                        삭제 요청
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light rounded-top p-4">
            <div class="row">
              <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">smartreserve.store</a>, All Right Reserved.
              </div>
            </div>
          </div>
        </div>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
  </body>
  <script src="/js/owner/index.js"></script>
</html>
