<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/owner/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owner/lib/tempusdominus/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/owner/style.css" rel="stylesheet" />
    <link href="/css/owner/mainlogo.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/user/lib/wow/wow.min.js"></script>
    <script src="/js/owner/lib/chart/chart.min.js"></script>
    <script src="/js/owner/lib/easing/easing.min.js"></script>
    <script src="/js/user/lib/counterup/counterup.min.js"></script>
    <script src="/js/user/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/js/owner/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/owner/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script type="module" src="/js/owner/main.js"></script>
  </head>

  <body>
  <div id="app">
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
          <a href="index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>SmartReserve</h3>
          </a>
          <div class="d-flex align-items-center ms-4 mb-4">
            <div class="ms-3">
              <span>{{ name }}</span>
              <p> 점주님 안녕하세요!</p>
            </div>
          </div>
          <div class="navbar-nav w-100">
            <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>대시보드</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                ><i class="fa fa-laptop me-2"></i>구성</a
              >
              <div class="dropdown-menu bg-transparent border-0">
                <a href="/view/owner/button.html" class="dropdown-item">버튼</a>
                <a href="typography.html" class="dropdown-item">문자디자인</a>
                <a href="element.html" class="dropdown-item">기타 항목</a>
              </div>
            </div>
            <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>위젯</a>
            <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>폼</a>
            <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>테이블</a>
            <a href="/view/owner/review.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>리뷰</a>
            </div>
          </div>
        </nav>
      </div>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
          <a href="/view/owner/index" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
          </a>
          <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
          </a>
          <form class="d-none d-md-flex ms-4">
            <input class="form-control border-0" type="search" placeholder="검색" />
          </form>
          <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">알림</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item" role="button">
                  <h6 class="fw-normal mb-0">프로필 업데이트</h6>
                  <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider" />
                <a href="#" class="dropdown-item">
                  <h6 class="fw-normal mb-0">홍길북 님의 예약요청</h6>
                  <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider" />
                <a href="#" class="dropdown-item">
                  <h6 class="fw-normal mb-0">홍길순님이 예약을 취소했습니다</h6>
                  <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider" />
                <a href="#" class="dropdown-item text-center">모든 알림메세지 확인하기</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <span class="d-none d-lg-inline-flex">{{ name }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a @click="logoutProcess" href="#" class="dropdown-item">로그아웃</a>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        <div id="reviewLists" class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">최근 리뷰</h6>
              <a href="">전체 보기</a>
            </div>
            <div class="table-responsive">
              <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                  <tr class="text-dark">
                    <th scope="col"><input class="form-check-input" type="checkbox" /></th>
                    <th scope="col">리뷰 ID</th>
                    <th scope="col">가게 ID</th>
                    <th scope="col">유저 ID</th>
                    <th scope="col">점수</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성 날짜</th>
                    <th scope="col">삭제 요청</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 최대 5개만 보여줌 -->
                  <tr v-for="(review, index) in reviews.slice(0, 5)" :key="review.reviewId">
                  <!-- <tr v-for="(review, index) in reviews" :key="review.reviewId"> 전체 리뷰 for문 -->
                    <th scope="col"><input class="form-check-input" type="checkbox" /></th>
                    <td>{{ review.reviewId }}</td>
                    <td>{{ review.storeId }}</td>
                    <td>{{ review.userId }}</td>
                    <td>{{ review.score }}</td>
                    <td>{{ review.content }}</td>
                    <td>{{ formatDate(review.createAt) }}</td> <!-- vue js에서 작성한 함수 -->
                    <td><button class="btn btn-danger btn-block" @click="deleteReq(review.reviewId)">삭제 요청</button>({{ review.deleteReq }})</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
              <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">오늘 판매 수익</p>
                  <h6 class="mb-0">12,345원</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">총 판매 수익</p>
                  <h6 class="mb-0">45,678원</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">오늘 수익</p>
                  <h6 class="mb-0">0원</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">총 수익</p>
                  <h6 class="mb-0">0원</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sale & Revenue End -->

        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
              <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">전 세계 판매 수익</h6>
                  <a href="">전체 보기</a>
                </div>
                <canvas id="worldwide-sales"></canvas>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6">
              <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">판매 및 수익</h6>
                  <a href="">전체 보기</a>
                </div>
                <canvas id="salse-revenue"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- Sales Chart End -->


        <!-- Widgets Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <h6 class="mb-0">메세지</h6>
                  <a href="">전체 보기</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                  <img class="rounded-circle flex-shrink-0" src="" alt="" style="width: 40px; height: 40px" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-0">bca@abc.com</h6>
                      <small>~ 분 전</small>
                    </div>
                    <span>홍길동 님이 ~분 전에 가게 예약을 요청하였습니다</span>
                  </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                  <img class="rounded-circle flex-shrink-0" src="" alt="" style="width: 40px; height: 40px" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-0">bcd@abc.com</h6>
                      <small>~분 전</small>
                    </div>
                    <span>홍길북 님의 가게 요청을 승인해주세요</span>
                  </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                  <img class="rounded-circle flex-shrink-0" src="" alt="" style="width: 40px; height: 40px" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-0">baca@abc.com</h6>
                      <small>~분 전</small>
                    </div>
                    <span>홍길순 님이 ~분 전에 가게 예약을 취소하였습니다</span>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                  <img class="rounded-circle flex-shrink-0" src="" alt="" style="width: 40px; height: 40px" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-0">bca12@abc.com</h6>
                      <small>~분 전</small>
                    </div>
                    <span>홍길남 님의 결제가 완료되었습니다</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">날짜</h6>
                  <a href="">전체 보기</a>
                </div>
                <div id="calender"></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
              <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">할일</h6>
                  <a href="">전체 보기</a>
                </div>
                <div class="d-flex mb-2">
                  <input class="form-control bg-transparent" type="text" placeholder="검색어를 입력하세요" />
                  <button type="button" class="btn btn-primary ms-2">search</button>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                  <input class="form-check-input m-0" type="checkbox" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <span>고래고래</span>
                      <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                  <input class="form-check-input m-0" type="checkbox" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <span>소리지르기</span>
                      <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                  <input class="form-check-input m-0" type="checkbox" checked />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <span><del>고함지르기</del></span>
                      <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                  <input class="form-check-input m-0" type="checkbox" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <span>윽박지르기</span>
                      <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-2">
                  <input class="form-check-input m-0" type="checkbox" />
                  <div class="w-100 ms-3">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <span>심호흡하기</span>
                      <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Widgets End -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light rounded-top p-4">
            <div class="row">
              <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">smartreserve.store</a>, All Right Reserved.
              </div>
            </div>
          </div>
        </div>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <script src="/js/owner/index.js"></script>
  </div>
  </body>
</html>
