<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/axios/dist/axios.js"></script>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 나의 스타일 추가 -->
    <link href="/css/user/login.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div id="container">
      <div id="loginBox">
        <div id="loginBoxTitle">점주 Login</div>
        <div id="inputBox">
          <div class="form-group">
            <label>점주 아이디</label>
            <input type="text" name="email" id="email" v-model="email" class="form-control" >
            <div v-if="emailError" class="text-danger">{{ emailError }}</div>
          </div>
          <div class="form-group">
            <label>비밀번호</label>
            <input type="password" name="upw" id="upw" v-model="upw" class="form-control" autocomplete="off">
          </div>
          <div id="login-btn-box">
            <div><span> 아이디 저장</span> <input type="checkbox" id="workSite" name="worksite" style="margin-bottom: 5px" v-model="checkId"></div>
            <input type="hidden" value="1" id="loginGroup">
            <div><input type="button" id="btnLogin" value="로그인" class="btn btn-danger" @click="login()"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap js -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      new Vue({
        el: "#inputBox",
        data: {
          email: '',
          upw: '',
          checkId: '',
          emailError: '',
          loginGroup: document.getElementById('loginGroup').value
        },
        methods: {
          validateEmail() {
            const emailPattern = /^[a-zA-Z0-9._%+-]{4,12}$/;
            // 알파벳 대소문자, 숫자, 점(.), 밑줄(_), 퍼센트(%), 더하기(+), 빼기(-)를 포함한 4글자 이상 12글자 이하의 문자열
            if (!emailPattern.test(this.email)) {
              this.emailError = '유효하지 않은 아이디 형식입니다.';
              return false;
            }
            this.emailError = '';
            return true;
          },
          login() {
            if (this.validateEmail()) {
              axios.post('/api/users/login', {
                email: this.email,
                upw: this.upw,
                checkId: this.checkId,
                loginGroup : this.loginGroup
              })
              .then(response => {
                
                if (response.data.data.loginSuccess) {
                  console.log("로그인 성공")
                }

                if (response.data.data.loginFail) {
                  console.log("로그인 실패")
                }
           
              })
              .catch(error => {
                console.error('api 요청 실패:', error);
                // 로그인 실패 후 처리 로직 추가
              });
            }
          }
        }
      });
    </script>
  </body>
</html>
