<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link rel="icon" type="image/png" href="/assets/mainIcon.png" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css"
      type="text/css"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="/node_modules/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="/css/owner/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="/css/owner/lib/tempusdominus/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="/css/owner/style.css" rel="stylesheet" />
    <link href="/css/owner/mainlogo.css" rel="stylesheet" />
    <link href="/css/owner/review.css" rel="stylesheet" />

    <!-- JavaScript Libraries -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/user/lib/wow/wow.min.js"></script>
    <script src="/js/owner/lib/chart/chart.min.js"></script>
    <script src="/js/owner/lib/easing/easing.min.js"></script>
    <script src="/js/user/lib/counterup/counterup.min.js"></script>
    <script src="/js/user/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/js/owner/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/owner/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/js/owner/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script type="module" src="/js/owner/main.js"></script>
    <script src="/js/owner/component.js"></script>
  </head>
  <body>
    <div id="vueApp">
      <div class="container-xxl position-relative bg-white d-flex p-0">
        <spinner-component></spinner-component>
        <!-- Sidebar Start -->
        <sidebar-component></sidebar-component>
      </div>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <navbar-component></navbar-component>
        <!-- Navbar End -->

        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4 mb-4">
          <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-solid fa-list fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">총 리뷰 수</p>
                  <h6 class="mb-0">{{totalReviewCount}}개</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <!-- <i class="fa fa-regular fa-star fa-3x text-primary"></i> -->
                <i class="fa fa-regular fa-calculator fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">총 평점</p>
                  <h6 class="mb-0">{{totalAvgScore}}</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-solid fa-pen fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">오늘 리뷰 수</p>
                  <h6 class="mb-0">{{totalTodayReview}}개</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div
                class="bg-light rounded d-flex align-items-center justify-content-between p-4"
              >
                <i class="fa fa-solid fa-star fa-3x text-primary"></i>
                <div class="ms-3">
                  <p class="mb-2">오늘 리뷰 평점</p>
                  <h6 class="mb-0">{{totalAvgTodayScore}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sale & Revenue End -->
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-6 mb-4">
              <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">최근 리뷰 평점 추이 (6개월 기준)</h6>
                <canvas id="bar-chart"></canvas>
              </div>
            </div>
            <div class="col-sm-12 col-xl-6 mb-4">
              <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">월 별 리뷰 수</h6>
                <canvas id="line-chart"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid pt-4 px-4">
          <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4 reviewList">
              리뷰 목록
              <div class="orderMethods">
                <a @click.prevent="getAllReviews('newest')">최신순</a>
                <a @click.prevent="getAllReviews('score')">별점순</a>
              </div>
            </h6>

            <div class="mb-3 d-flex">
              <input
                v-model="searchCustomerName"
                class="form-control me-2"
                type="text"
                placeholder="고객명으로 검색"
              />
            </div>
            <div class="mb-3 d-flex">
              <input
                v-model="searchStartDate"
                class="form-control"
                type="date"
                placeholder="시작일"
              />

              <input
                v-model="searchEndDate"
                class="form-control"
                type="date"
                placeholder="종료일"
              />
            </div>
            <div class="mb-3 d-flex justify-content-end">
              <button
                class="btn btn-primary ms-2"
                style="width: 200px"
                @click="searchReviews"
              >
                검색
              </button>
            </div>

            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">리뷰 ID</th>
                    <th scope="col">가게 ID</th>
                    <th scope="col">유저 ID</th>
                    <th scope="col">고객명</th>
                    <th scope="col">점수</th>
                    <th scope="col">리뷰내용</th>
                    <th scope="col">작성 날짜</th>
                    <th scope="col">삭제요청</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(review,index) in paginatedReviews"
                    :key="review.reviewId"
                  >
                    <th scope="row">{{index + 1}}</th>
                    <td>{{review.reviewId}}</td>
                    <td>{{review.storeId}}</td>
                    <td>{{review.userId}}</td>
                    <td>{{review.userName}}</td>
                    <td>{{review.score}}</td>
                    <td>{{review.content}}</td>
                    <td>{{formatDate(review.createAt)}}</td>
                    <td>
                      <button
                        v-if="!review.deleteReq"
                        type="button"
                        class="btn btn-outline-danger m-2"
                        @click="showDeleteRequestModal(review.reviewId)"
                      >
                        DELETE
                      </button>
                      <button
                        v-else
                        type="button"
                        class="btn btn-outline-danger m-2"
                        disabled
                      >
                        삭제 요청 완료
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="pagination text-center">
              <ul class="pagination justify-content-center">
                <li
                  class="page-item"
                  v-if="currentPage > 1"
                  @click="changePage(currentPage - 1)"
                >
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li
                  class="page-item"
                  v-for="page in totalPages"
                  :key="page"
                  @click="changePage(page)"
                >
                  <a class="page-link">{{page}}</a>
                </li>
                <li
                  class="page-item"
                  v-if="currentPage < totalPages"
                  @click="changePage(currentPage + 1)"
                >
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Footer Start -->
        <footer-component></footer-component>
        <!-- Footer End -->
        <!-- Content End -->
      </div>
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>

      <!-- Modal -->
      <div v-if="showModal" class="modal fade show" style="display: block">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">리뷰 삭제</h4>
              <button
                type="button"
                class="btn-close"
                @click="showModal = false"
              ></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
              해당 리뷰에 대한 삭제 요청을 보내시겠습니까?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                @click="deleteReview(selectedReviewId)"
              >
                삭제
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                @click="showModal = false"
              >
                취소
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Content End -->
    </div>

    <!-- Template Javascript -->
    <script src="/js/owner/review.js"></script>
  </body>
</html>
