
body {
  font-family: 'Apple SD Gothic Neo';
}

a {
  text-decoration: none;
  color: black;
}
/*** Spinner Start ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .8s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
   transition: opacity .8s ease-out, visibility 0s linear .0s;
   visibility: visible;
   opacity: 1;
}
/*** Spinner End ***/

.mainlogo {
  width: 100px;
  height: 40px;
}

#app {
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
}
