#app {
    height: 100%;
}

.gap10 {
    margin-top: 10px;
}

.details_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;

}

.square_section {
    max-width: 800px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: left;
    
}

.square_section_last-child {
    max-width: 800px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 100px;
}


h2 {
    margin-left: 6px;
    margin-bottom: 6px;
    text-align: left;
}


/* 메뉴버튼 */
.cButton-container {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 버튼 사이의 간격을 균등하게 */
}

.cButton {
    flex: 1; /* 각 버튼이 같은 비율로 공간을 차지하도록 설정 */
    padding: 10px 0; /* 버튼 여백 */
    border: none;
    border-radius: 1px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
    text-align: center; /* 텍스트 가운데 정렬 */
    color: #555;
}

.cButton.active {
    border-bottom: lightgray 1px solid ;
    color: black;
    font-weight: bold;
} 
/* 섹션 버튼 */

a {
    text-decoration: none;
    color: #333;
}

/*  리뷰 */


.rating_summary {
    display: grid;
    grid-template-columns: 0.7fr 1.4fr; /* 두 개의 컬럼을 1:1 비율로 */
    gap: 20px; /* 그리드 간격 (옵션) */
    padding: 5%;
}

.star-rating {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.star-rating span {
    width: 40px;
}

.bar {
    flex-grow: 1;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    margin: 0 10px;
}

.filled {
    background-color: orange;
    border-radius: 5px;
    height: 100%;
}

.average_rating {
   
    display: flex;
    flex-direction: column;  
    align-items: center; 
    margin-top: 10px;  

}

.average_rating strong {
    font-size: 1.5em;
    margin-top: 5px; 
}

.orderBy{
   float: right;
   margin-top: 5%;
    border: 0;
  
}

.orderBy_sec{
    margin-bottom: 10%;
}

.review {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 30px;
    padding-bottom: 10px;
}


.review_header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
}

.review_info span{
 margin-right: 20px;
}

.userImg img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.review-content {
    margin: 10px 0;
    
}

.review_images {
    display: flex;
    max-width: 680px;
    height: 220px;
    border-radius: 5px;
    overflow-x: auto;
   
}

.review_img_container {
    display: flex;
    width: 200px;
    height: 200px;
    gap: 1px;
   
}

.review_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

