.gap10 {
    margin-top: 10px;
}

.details_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;

}

.square_section {
    max-width: 800px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: left;
    
}

.restaurant-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.restaurant-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

/* 서식 */

.my_title {
    padding: 50px 0 40px ;
}


/* 추천 레스토랑 */
.restaurants_whole{
    display: flex;              
    flex-wrap: wrap;           
    justify-content: space-around;
}


.restaurant-card {
    width: calc(50% - 60px);
    margin-bottom: 20px;
    word-break: keep-all;
    margin-left: 10px;
    width: 250px;
    padding-left: 15px;
}

.restaurant_image_box{
    width: 200px;
    height: 180px;
    border-radius: 5px; 
}
.restaurant_image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-info {
    flex-grow: 1;
}

.restaurant-name {
    font-size: 20px;
    font-weight: bold;
}

.restaurant-details {
    font-size: 12px; 
    color: #777; 
}

.icon_header_sec1 {
    position: relative;
    padding: 4px 8px 0px 8px;
    border: none;
    border-radius: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    z-index: 1000;
    float: right;
}


.bookmarked_icon {
    color: orangered !important;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* display: none; 기본적으로 숨김 */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
