<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/user/storeDetails/storeDetail_menu.js" defer></script>
    <link rel="stylesheet" href="/css/user/storeDetail.css">
</head>
<body>
    <div  id="app">
        <div class="square_section">
            <div class="cButton-container">
                <div class="cButton" v-for="(button, index) in buttons" 
             :key="index" 
             :class="{ active: activeButton === index }" 
             @click="menuBtnGotopage(index)">
            {{ button }}
            </div>
        </div>
    

    <div class="square_section">
        <h2 class="my_title">메뉴</h2>
        <button class="small_button">식사류</button>
        <button class="small_button">사이드</button>
        <h3 class="overGap" v-if="menuData.numOfMainMenu > 0">식사류</h3>
        <div v-for="(menu, index) in menuData.menu" :key ="index" class="menu-item" v-if="menu.main">
            
            <div class="menu-details">
                <h3>{{menu.menuName}}</h3>
                <span>가격: {{menu.price}} 원</span>
            </div>
            <div class="img_container">
            <img :src="menu.menuImageUrl" :alt="menu.menuImageName" class="menu-image" 
            @error="setDefaultImage($event)">
            </div>
        </div>
        <h3 class="overGap" v-if="menuData.numOfSideMenu > 0">사이드</h3>
        <div v-for="(menu, index) in menuData.menu" :key ="index" class="menu-item" v-if="!menu.main">
            
            <div class="menu-details">
                <h3>{{menu.menuName}}</h3>
                <span>가격: {{menu.price}} 원</span>
            </div>
            <div class="img_container">
            <img :src="menu.menuImageUrl" :alt="menu.menuImageName" class="menu-image" 
            @error="setDefaultImage($event)">
            </div>
        </div>
    </div>   
</body>
</html>