#calendar {
  width: 90%;
  margin-left: 80px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.translate-middle {
  transform: translate(-50%, -50%);
}

.bg-danger {
  background-color: red;
}

.rounded-circle {
  border-radius: 50%;
}
