body {
  font-family: "Apple SD Gothic Neo";
}

.reviewList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderMethods {
  display: flex;
  gap: 10px;
}
