<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>필터링 후 식당</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="/node_modules/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/css/user/animate/animate.min.css" rel="stylesheet" />
    <link href="/css/user/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="/css/user/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link href="/css/user/filter.css" rel="stylesheet" />
    <link href="/css/user/header.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <header-component></header-component>
      <div class="container">
        <table class="table">
          <tbody>
            <tr
              v-for="store in stores"
              :key="store.storeId"
              @click="goToStore(store.storeId)"
            >
              <td>
                <div class="storeTitle">
                  {{ store.storeName }}
                  <span v-if="store.couponCount > 0" class="coupon-event">
                    할인 행사 진행중 <i class="fa-solid fa-tags"></i>
                  </span>
                </div>
                <div class="storeAddress">
                  <i
                    class="fas fa-star"
                    style="color: gold; font-size: 15px"
                  ></i>
                  {{ store.averageScore }} ({{ store.reviewCount }})
                  {{store.address}}
                </div>
                <div class="store-tel">
                  <i class="fa-solid fa-phone"></i> tel: {{ store.tel }}
                </div>
                <div class="storeImg">
                  <div v-if="store.storeImages && store.storeImages.length > 0">
                    <img
                      v-for="(image, index) in store.storeImages.slice(0, 3)"
                      :key="index"
                      :src="image.url"
                      alt="식당 이미지"
                      class="store-image"
                    />
                  </div>
                  <div v-else>
                    <img
                      src="/assets/user/img/준비중.png"
                      alt="준비중 이미지"
                      class="store-image"
                    />
                  </div>
                  <p class="store-status">
                    <i class="fa-solid fa-clock"></i> {{ getStoreStatus(store)
                    }}
                  </p>
                  <ul
                    class="facilities-list"
                    v-if="store.facilities && store.facilities.length > 0"
                  >
                    <li
                      v-for="(facility, index) in store.facilities"
                      :key="index"
                    >
                      {{ facility.facilityName }}
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="favorite-icon" @click.stop="toggleFavorite(store)">
                  <i
                    :class="store.isFavorite ? 'fas fa-heart' : 'far fa-heart'"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer-component></footer-component>
    </div>
    <script src="/js/Footer.js"></script>
    <script src="/js/Header.js"></script>
    <script src="/js/user/filter.js"></script>
  </body>
</html>
