<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css" type="text/css"/>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/user/mainlogo.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/header.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/user/lib/index.js"></script>
    <script src="https://kit.fontawesome.com/aebc8a6fa8.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <header>
    <div id="app">
        <div class="header_container">
            <div class="logo"><a class="navbar-brand fs-3 text-warning fw-bold" href="#"><img src="/assets/mainIcon.png"> SmartReserve</a></div>
            <div class="search_container">
            <a href="http://localhost/view/user/search">
            <i class="fa-solid fa-magnifying-glass search_icon"></i>
            <input type="text" placeholder="찾고 있는 맛집이 있나요?" class="search_box">
            </a>
            </div>
            <div class="icons_sec">
                <template v-if="loginYN">
                    <img :src="profileImageUrl" alt="Profile Image" />
                    <span>{{userName}}</span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-unlock"></i>
                </template>
                <template v-else>
                    <a href="http://localhost/view/user/userLogin">
                        <i class="fa-solid fa-lock"></i></a>
                </template>
            </div>
        </div>
        
    </header>
    
</body>
</html>