<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="utf-8">
      <title>스마트한 예약 경험 | 내 정보</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
      <link rel="icon" type="image/png" href="/assets/mainIcon.png" />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css" type="text/css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
      <link href="/css/user/animate/animate.min.css" rel="stylesheet">
      <link href="/css/user/lightbox/css/lightbox.min.css" rel="stylesheet">
      <link href="/css/user/owlcarousel/owl.carousel.min.css" rel="stylesheet">
      <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/user/mainlogo.css" rel="stylesheet">
      <link href="/css/user/reviewModal.css" rel="stylesheet">
      <!-- 자바스크립트 -->
       <script src="https://kit.fontawesome.com/9ebc532cee.js" crossorigin="anonymous"></script>
      <script src="/node_modules/jquery/dist/jquery.min.js"></script>
      <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/js/user/lib/wow/wow.min.js"></script>
      <script src="/js/user/lib/easing/easing.min.js"></script>
      <script src="/js/user/lib/waypoints/waypoints.min.js"></script>
      <script src="/js/user/lib/counterup/counterup.min.js"></script>
      <script src="/js/user/lib/lightbox/js/lightbox.min.js"></script>
      <script src="/js/user/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="/node_modules/vue/dist/vue.min.js"></script>
      <script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>
      <script src="/node_modules/axios/dist/axios.min.js"></script>
      <script src="/js/axiosSetting.js"></script>
      <script src="/js/user/main.js"></script>
      <style>
        li {
          list-style: none;
        }
      </style>
  </head>
<body>
  <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-warning" role="status"></div>
  </div>
  <div id="app" class="bg-light">
    <div class="container-fluid bg-light">
      <!-- navbar -->
      <header-navbar></header-navbar>
      
      <div class="container p-3 mb-3">
        <div class="row">
        <!-- Sidebar -->
          <div class="col-md-4 col-lg-4 d-md-block sidebar">
            <div class="position-sticky pt-3">
              <h5 class="px-3">계정 설정</h5>
              <ul class="nav nav-pills flex-column w-50">
                <li class="nav-item">
                  <a :class="['nav-link', isActive('myInfo')]" href="#" @click="changeTab('myInfo')">
                    <i class="bi bi-person-fill"></i> 내 정보
                  </a>
                </li>
                <li class="nav-item">
                  <a :class="['nav-link', isActive('reserveHistory')]" href="#" id="reservation" @click="changeTab('reserveHistory')">
                    <i class="bi bi-calendar-check-fill"></i> 내 예약 내역 조회
                  </a>
                </li>
                <li class="nav-item">
                  <a :class="['nav-link', isActive('bookMark')]" href="#" @click="changeTab('bookMark')">
                    <i class="bi bi-star-fill"></i> 즐겨찾기 목록 ({{bookMarkListCount}})
                  </a>
                </li>
                <li class="nav-item">
                  <a :class="['nav-link', isActive('reviewHistory')]" href="#" @click="changeTab('reviewHistory')">
                    <i class="bi bi-chat-text-fill"></i> 리뷰 내역 조회 ({{reviewHistoryCount}})
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- 내정보 시작 -->
          <div class="col" v-if="currentPage == 'myInfo'">
            <h3>내 정보</h3>
            <div class="row">
              <div class="col-2 text-center">
                <img :src="previewImage" class="dropdown-toggle rounded-circle border w-100">
                <label for="imageFile" class="btn btn-light border mt-2">프로필 변경
                </label>
                <input type="file" class="invisible" id="imageFile" name="imageFile" accept="image/jpg, image/png, image/jpeg" @change="onFileChange">
              </div>
              <div class="col border p-5">
                <div class="mb-3">
                  <label for="name" class="form-label">이름</label>
                  <input type="text" class="form-control" id="name" v-model="myInfoData.name">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">비밀번호</label>
                  <input type="password" class="form-control" id="password" v-model="myInfoData.password" placeholder="비밀번호 변경">
                  <input type="password" class="form-control" id="password_re" v-model="myInfoData.password_re" placeholder="비밀번호 확인">
                </div>
                <div class="mb-3">
                  <label for="mobile" class="form-label">전화번호</label>
                  <input type="text" class="form-control" id="mobile" v-model="myInfoData.mobile">
                </div>
                <div class="mb-3 form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gender_M" v-model="myInfoData.gender" value="M">
                  <label for="gender_M" class="form-check-label">남자</label>
                </div>
                <div class="mb-3 form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="gender_W" v-model="myInfoData.gender" value="W">
                  <label for="gender_W" class="form-check-label">여자</label>
                </div>
                <div class="d-flex justify-content-center">
                  <small class="text-danger" v-if="errorMsg != ''">{{ errorMsg }}</small>
                </div>
                <div class="d-flex justify-content-center">
                  <div>
                    <button class="btn btn-warning" @click="updateUserInfo">변경하기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 내정보 종료 -->
          <!-- 예약 내역 시작 -->
          <div class="col" v-if="currentPage == 'reserveHistory'">
            <h3>예약 내역</h3>
            <div class="d-flex justify-content-start">
              <input type="radio" class="btn-check" name="status" value="plan" id="plan" v-model="selectedReserveStatus">
              <label class="btn btn-outline-primary m-3" for="plan">방문예정 {{ planReserveHistoryData.length }}</label>
              <input type="radio" class="btn-check" name="status" value="complete" id="complete" v-model="selectedReserveStatus">
              <label class="btn btn-outline-success m-3" for="complete">방문완료 {{ completeReserveHistoryData.length }}</label>
              <input type="radio" class="btn-check" name="status" value="cancel" id="cancel" v-model="selectedReserveStatus">
              <label class="btn btn-outline-danger m-3" for="cancel">취소 {{ cancelReserveHistoryData.length }}</label>
            </div>
            <div class="container" v-if="selectedReserveStatus == 'plan'">
              <div class="card w-100 h-25 mb-3" v-for="reserve in planReserveHistoryData" :key="reserve.reserveId">
                <div class="card-header">
                  <label class="list-group-item">
                    {{ statusCodeValue(reserve.statusCodeId) }} 
                  </label>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div v-if="reserve.storeImages.length > 0" class="col-3">
                      <img :src="reserve.storeImages[0].url" style="width: 100%; height: 90%;">
                    </div>
                    <div v-else class="col-3">
                      <img src="/assets/no_store_image.jpg" style="width: 100%; height: 90%;">
                    </div>
                    <div class="col">
                      <ul>
                        <li><a :href="'/view/user/storeInfo?storeId='+reserve.storeId"><h4>{{ reserve.storeName }}</h4></a></li>
                        <li><label v-for="(category, index) in reserve.categories" :key="category.categoryId">
                          {{ category.storeCategoryName }}<span v-if="index !== reserve.categories.length - 1">&nbsp;·&nbsp;</span></label>
                        </li>
                        <li>
                          <span class="text-warning">{{ dateFormat(reserve.reserveTime) }}</span>
                        </li>
                        <li>
                          <span>{{ reserve.address }}</span>
                        </li>
                        <li>
                          <span>방문자명 : {{ reserve.name }}, {{ reserve.people }} 명</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="planReserveHistoryData.length == 0">
                <p>예약 내역이 없습니다. 예약할 식당을 찾아보세요</p>
                <a href="/view/stores"><p>식당 찾으러 가기</p></a>
              </div>
            </div>

            <div class="container" v-if="selectedReserveStatus == 'complete'">
              <div class="card w-100 h-25 mb-3" v-for="reserve in completeReserveHistoryData" :key="reserve.reserveId">
                <div class="card-header">
                  <label class="list-group-item">
                    {{ statusCodeValue(reserve.statusCodeId) }} 
                  </label>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div v-if="reserve.storeImages.length > 0" class="col-3">
                      <img :src="reserve.storeImages[0].url" style="width: 100%; height: 90%;">
                    </div>
                    <div v-else class="col-3">
                      <img src="/assets/no_store_image.jpg" style="width: 100%; height: 90%;">
                    </div>
                    <div class="col">
                      <ul>
                        <li><a :href="'/view/user/storeInfo?storeId='+reserve.storeId"><h4>{{ reserve.storeName }}</h4></a></li>
                        <li><label v-for="(category, index) in reserve.categories" :key="category.categoryId">
                          {{ category.storeCategoryName }}<span v-if="index !== reserve.categories.length - 1">&nbsp;·&nbsp;</span></label>
                        </li>
                        <li>
                          <span class="text-warning">{{ dateFormat(reserve.reserveTime) }}</span>
                        </li>
                        <li>
                          <span>{{ reserve.address }}</span>
                        </li>
                        <li>
                          <span>방문자명 : {{ reserve.name }}, {{ reserve.people }} 명</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-outline-warning" v-if="reserve.statusCodeId == 4" @click="changeTab('reviewInsertOrUpdate', reserve.reserveId, 0, reserve.storeId)">리뷰 작성하기</button>
                      <button class="btn btn-secondary" v-if="reserve.statusCodeId == 5" disabled>리뷰 작성 완료</button>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="completeReserveHistoryData.length == 0">
                <p>예약 내역이 없습니다. 예약할 식당을 찾아보세요</p>
                <a href="/view/stores"><p>식당 찾으러 가기</p></a>
              </div>
            </div>

            <div class="container" v-if="selectedReserveStatus == 'cancel'">
              <div class="card w-100 h-25 mb-3" v-for="reserve in cancelReserveHistoryData" :key="reserve.reserveId">
                <div class="card-header">
                  <label class="list-group-item">
                    {{ statusCodeValue(reserve.statusCodeId) }} 
                  </label>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div v-if="reserve.storeImages.length > 0" class="col-3">
                      <img :src="reserve.storeImages[0].url" style="width: 100%; height: 90%;">
                    </div>
                    <div v-else class="col-3">
                      <img src="/assets/no_store_image.jpg" style="width: 100%; height: 90%;">
                    </div>
                    <div class="col">
                      <ul>
                        <li><a :href="'/view/user/storeInfo?storeId='+reserve.storeId"><h4>{{ reserve.storeName }}</h4></a></li>
                        <li><label v-for="(category, index) in reserve.categories" :key="category.categoryId">
                          {{ category.storeCategoryName }}<span v-if="index !== reserve.categories.length - 1">&nbsp;·&nbsp;</span></label>
                        </li>
                        <li>
                          <span class="text-warning">{{ dateFormat(reserve.reserveTime) }}</span>
                        </li>
                        <li>
                          <span>{{ reserve.address }}</span>
                        </li>
                        <li>
                          <span>방문자명 : {{ reserve.name }}, {{ reserve.people }} 명</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="cancelReserveHistoryData.length == 0">
                <p>취소 내역이 없습니다</p>
              </div>
            </div>

          </div>
          <!-- 예약 내역 종료 -->
          <!-- 즐겨찾는 매장 -->
          <div class="col" v-if="currentPage == 'bookMark'">
            <h3>즐겨찾는 매장</h3>
            <div class="row">
              <div class="col">
                <div class="container">
                  <div class="card w-100 h-25 mb-3" v-for="bookmark in bookMarkListData" :key="bookmark.bookmarkDto.bookMarkId">
                    <div class="card-body">
                      <div class="row">
                        <div v-if="bookmark.url != null" class="col-3">
                          <img :src="bookmark.url" style="width: 90%; height: 90%;">
                        </div>
                        <div v-else class="col-3">
                          <img src="/assets/no_store_image.jpg" style="width: 90%; height: 90%;">
                        </div>
                        <div class="col">
                          <ul>
                            <li><a :href="'/view/user/storeInfo?storeId='+bookmark.bookmarkDto.storeId"><h4>{{ bookmark.storeName }}</h4></a></li>
                            <li><label>
                              {{ bookmark.categoryName }}
                              </label>
                            </li>
                            <li>
                              <i class="fas fa-star text-warning"></i> {{ bookmark.reviewScore.toFixed(1) }} ({{ bookmark.reviewCount }})
                            </li>
                            <li>
                              <span>{{ bookmark.description }}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="bookMarkListData.length == 0">
                    <p>즐겨찾기한 식당이 없습니다. 즐겨찾고 싶은 식당을 찾아보세요</p>
                    <a href="/view/stores"><p>식당 찾으러 가기</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-8" v-if="currentPage == 'reviewHistory'">
            <h3>내가 작성한 리뷰 {{ reviewHistoryCount }}건</h3>
            <div v-for="(review, index) in reviewHistoryData.reviewData" :key="review.reviewId">
              <div class="card mb-3">
                <div class="card-header border">
                  <div>
                    <div class="mt-2">
                      <span class="review-delete" @click="deleteReview(review.reviewId)">X</span>
                      <h3><a :href="'/view/user/storeInfo?storeId='+review.storeId">{{ review.storeName }}</a></h3>
                    </div>
                    <div>
                      <label><i v-for="sc in review.score" class="fas fa-star text-warning"></i> | {{dateFormat(review.dateTime) }}</label>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="thumbnail-container">
                        <img v-for="(image, index) in review.reviewImages" @click="openReviewModal(review.reviewImages, index)" :src="image.url" class="thumbnail_image" alt="Sample Image" data-bs-toggle="modal" data-bs-target="#imageModal">
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <textarea class="form-control" style="height: 150px; overflow: hidden; border: none; resize: none;" readonly v-model="review.content"></textarea>
                  </div>
                  <p class="text-center">
                    <button class="btn btn-outline-primary text-center form-control" @click="changeTab('reviewInsertOrUpdate', review)">리뷰 수정하기</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- 리뷰수정 or 생성탭 -->
          <div class="col-md-8 col-lg-8" v-if="currentPage == 'reviewInsertOrUpdate'">
            <div class="card mb-3" v-if="updateReviewData">
              <input type="file" class="invisible" id="addImageByUpdate" accept="image/jpg, image/png, image/jpeg" multiple @change="uploadImageFiles">
              <div class="card-body">
                <div class="modify-review-image-gallery">
                  <div class="modify-review-image-container">
                    <div class="modify-review-image-container">
                      <label for="addImageByUpdate" class="pointer">
                        <img src="/assets/addImageIcon.webp" class="thumbnail_image_modify">
                      </label>
                    </div>
                  </div>
                  <div class="modify-review-image-container" v-for="(image, index) in updateReviewData.reviewImages">
                    <img :src="image.url" class="thumbnail_image_modify">
                    <span class="review-image-delete" @click="deleteRequestImage(updateReviewData.reviewId, image.imageId, index)">X</span>
                  </div>
                  <div class="modify-review-image-container" v-for="(image, index) in insertReviewData.uploadReviewImageFiles">
                    <img :src="image.url" class="thumbnail_image_modify">
                    <span class="review-image-delete" @click="deleteInsertReviewImage(index)">X</span>
                  </div>
                </div>
              </div>
              <div class="mt-4 p-3">
                <textarea class="form-control" style="height: 200px; resize: none;" v-model="updateReviewData.content"></textarea>
              </div>
              <div class="text-center mt-2 p-3">
                <p>별점을 남겨주세요!</p>
                <i v-for="index in 5" :key="index" :class="['fas', 'fa-solid', 'fa-star', 'p-1', 'score', initScore(index)]" :score-value="index" @click="scoreEvent($event, 1)"></i> 
              </div>
              <p class="text-center">
              <small class="text-danger">{{ reviewErrorMsg }}</small>
              </p>
              <p class="text-center mt-4 p-3">
                <button class="btn btn-outline-primary text-center form-control" @click="updateReview">수정하기</button>
              </p>
            </div>

            <div class="card mb-3" v-else>
              <input type="file" class="invisible" id="addImageByInsert" accept="image/jpg, image/png, image/jpeg" multiple @change="uploadImageFiles">
              <div class="card-body">
                <div class="modify-review-image-gallery">
                  <div class="modify-review-image-container">
                    <!-- <input type="file" multiple> -->
                    <label for="addImageByInsert" class="pointer">
                      <img src="/assets/addImageIcon.webp" class="thumbnail_image_modify">
                    </label>
                  </div>
                  <div class="modify-review-image-container" v-for="(image, index) in insertReviewData.uploadReviewImageFiles">
                    <img :src="image.url" class="thumbnail_image_modify">
                    <span class="review-image-delete" @click="deleteInsertReviewImage(index)">X</span>
                  </div>
                </div>
              </div>
              <div class="mt-4 p-3">
                <textarea class="form-control" style="height: 200px; resize: none;" v-model="insertReviewData.content"></textarea>
              </div>
              <div class="text-center mt-2 p-3">
                <p>만족스러운 식사가 되셨나요? 별점을 남겨주세요!</p>
                <i class="fas fa-solid fa-star score" score-value="1" @click="scoreEvent($event, 0)"></i>
                <i class="fas fa-solid fa-star score" score-value="2" @click="scoreEvent($event, 0)"></i>
                <i class="fas fa-solid fa-star score" score-value="3" @click="scoreEvent($event, 0)"></i>
                <i class="fas fa-solid fa-star score" score-value="4" @click="scoreEvent($event, 0)"></i>
                <i class="fas fa-solid fa-star score" score-value="5" @click="scoreEvent($event, 0)"></i>
              </div>
              <p class="text-center">
              <small class="text-danger">{{ reviewErrorMsg }}</small>
              </p>
              <p class="text-center mt-4 p-3">
                <button class="btn btn-outline-success text-center form-control" @click="uploadReview">등록하기</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- 리뷰 사진 모달 -->
      <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img :src="reviewImageLists[currentImageIndex].url" class="img-fluid" alt="원본이미지">
              <div class="mt-3">
                <button v-if="reviewImageLists.length > 1" @click="controlImages('prev')" class="btn btn-custom">이전</button>
                <button v-if="reviewImageLists.length > 1" @click="controlImages('next')" class="btn btn-custom">다음</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer-component></footer-component>
  </div>
<script src="/js/user/component.js"></script>
<script src="/js/user/myPage.js"></script>
</body>
</html>
