<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>식당 상세 정보</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ae7f9510119596f0c0ff9416ba9caf07"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/user/storeDetail.js" defer></script>
    <link rel="stylesheet" href="/css/user/storeDetail.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
</head>

<body>
    <div  id="app">
    <div id="app" class="details_container">
        <div class="restaurant-header">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button 
                    type="button" 
                    v-for="(image, index) in restaurantData.data.storeImages" 
                    :class="{ active: index === 0 }" 
                    :key="index" 
                    :data-bs-target="'#carouselExampleIndicators'" 
                    :data-bs-slide-to="index" 
                    :aria-current="index === 0" 
                    :aria-label="'Slide ' + (index + 1)">
                </button>
                </div>
                <div class="carousel-inner">
                    <div class="caroPic carousel-item" v-for="(image, index) in restaurantData.data.storeImages" :class="{ active: index === 0 }" :key="index">
                        <img :src="image.url" class="d-block w-100" :alt="'storeImages.url(' + (index + 1) + ')'">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <h1 class="restaurant-name" v-if="restaurantData && restaurantData.data">
                {{ restaurantData.data.storeName}}</h1>
            <div class="rating">
                <span class="stars">⭐️ {{ calculateReviewScore.toFixed(1) }} <span class="review-count">리뷰수( {{ reviewData.length }})</span><span class="arrow" onclick="goToPage(review.html)">></span></span>
                
            </div>
            <p class="description" v-if="restaurantData && restaurantData.data">
                {{ restaurantData.data.description}}</p>
            <p class="address" v-if="restaurantData && restaurantData.data">
                {{ restaurantData.data.address}}</p>
            <p class="mainPrice">평균가격 avg(menu.price.isMain)</p>
            <p v-if="todayOperation.closeDay">오늘은 휴무입니다<span @click="isOpen = !isOpen" style="cursor: pointer;">{{ isOpen ? '▲' : '▼' }}</span></p>
            
            <p v-else class="hours">{{ todayDay}} 영업시간: {{todayOperation.open}} - {{todayOperation.close}}<span @click="isOpen = !isOpen" style="cursor: pointer;">{{ isOpen ? '▲' : '▼' }}</span></p>
         
            <ul class="foldable" v-if="isOpen">
                <li v-for="(schedule, index) in schedules" :key="index">
                    <span v-if="schedule.closeDay">{{ schedule.dayOfWeek }} 휴무</span>
                    <span v-else> {{ schedule.dayOfWeek }}: {{ schedule.open }} - {{ schedule.close }} </span>
                </li>
            </ul>
            <li v-for="(facility, index) in restaurantData.data.facilities" :key="index">
                  {{ facility.facilityName }}
                </li>
        </div>
            
        <div class="square_section">
            <div class="cButton-container">
                <div class="cButton">홈</div>
                <div class="cButton">메뉴</div>
                <div class="cButton">사진</div>
                <div class="cButton">리뷰</div>
                <div class="cButton">매장정보</div>
            </div>
            <div class="long_button" id="coupon">쿠폰정보 coupon.couponName</div>
        

            <h2 class="my_title">예약하기</h2>
            <p>날짜.인원.시간</p>
            <div>calendar</div>
            <div id='calendar'></div>
            <p>인원수(1명~store.maxPplPerReserve)</p>
            <p>reserveSlots  reserved=0인 시간대</p>
        </div>

        <div class="square_section">
            <h2 class="my_title">편의시설</h2>
            <li v-for="(facility, index) in restaurantData.data.facilities" :key="index">
                {{ facility.facilityName }}
              </li>
        </div>

        <div class="square_section">
            <h2 class="my_title">메뉴</h2>
         

            <div v-for="(menu, index) in filteredMenus" :key="index" class="menu-item">
                <input type="checkbox"/>
                <div class="menu-details">
                    <h3>{{ menu.menuName }}</h3>
                    <span>가격: {{ menu.price }} 원</span>
                </div>
                <div class="img_container">
                    <img :src="menu.menuImageUrl" :alt="menu.menuImageName" class="menu-image" 
                         @error="setDefaultImage($event)">
                </div>
            </div>

            <button class="long_button more" @click="goToPage('storeDetail_menu')"> 메뉴 전체 보기 &gt;</button>
        </div>

        <div class="square_section">
            <h2 class="my_title">사진</h2>
            <template>
            <div class="photo_gallery">
                <div class="photo_frame" v-for="(image, index) in combinedImages.slice(0, 8)" :key="'combinedImage-' + index">
                    <img :src="image.url" class="d-block w-100" :alt="'combinedImages.url(' + (index + 1) + ')'">
                </div>
            </div>
        </template>
            <button class="long_button more">사진 {{combinedImages.length}}개 전체보기 &gt;</button>
        </div>
        
        <div class="square_section">
            <h2 class="r_title">추천 리뷰</h2>
          
                <span class="star">⭐️</span>
                <span class="score"> {{ calculateReviewScore.toFixed(1) }} ({{ reviewData.length }})</span>
       
            <div class="restaurants_whole">
            <div class="restaurant-card" v-for="(review,index) in filteredReviews" :key="'review-' + index">
                <div class="restaurant_image_box">
                    <img :src="review.reviewImages[0].url" alt="광안리 다이치" class="restaurant-image">
                </div>
                    <span class="restaurant-details">남들이조와</span>
                    <span class="review-rating">⭐️{{ review.score.toFixed(1) }}</span>
                    <p class="review-date">{{ formatDate(review.createAtLocalDateTime) }}</p>
                    <p class="review-text">{{ review.content }}</p>
            </div>
           
            </div>
            <button class="long_button more">리뷰 전체보기 &gt;</button>
        </div>
        <div class="square_section">
            <h2 class="my_title">지도</h2>
            <div id="map" style="width:100%;height:350px;" v-if="restaurantData && restaurantData.data"></div>
            <div v-if="restaurantData && restaurantData.data">
                {{ restaurantData.data.directionGuide }}
            </div>
        </div>
        <div class="square_section">
            <h2 class="my_title">상세정보</h2>
            <p class="info-label">전화번호</p>
            <p class="info-content" v-if="restaurantData && restaurantData.data">
                📞 {{ restaurantData.data.tel }}</p>
            <p class="info-label">정기 휴무</p>

            <p class="info-content" v-if="allSchedulesOpen">연중 무휴입니다.</p>
            <ul>
                <li v-for="(day, index) in getClosedDays()" :key="index">{{ day }}</li>
            </ul>
            <button class="long_button more">매장정보 전체보기 &gt;</button>
        </div>
        <div class="square_section">
            <h2 class="my_title">비슷한 레스토랑 추천</h2>
            <div class="restaurants_whole">
            <div class="restaurant-card">
                <div class="restaurant_image_box">
                <img src="https://img.siksinhot.com/place/1675994382900282.jpg?w=540&h=436&c=Y" alt="광안리 다이치" class="restaurant-image">
                </div>
                <div class="restaurant-info">
                    <span class="rating">⭐️ 4.9</span>
                    <span class="restaurant-name">광안리 다이치</span>
                    <p class="restaurant-details">육류, 고기리 | 부산 광안리</p>
                </div>
            </div>
            <div class="restaurant-card">
                <div class="restaurant_image_box">
                <img src="https://img.siksinhot.com/place/1675994382900282.jpg?w=540&h=436&c=Y" alt="아키토리 신세츠" class="restaurant-image">
                </div>
                <div class="restaurant-info">
                    <span class="rating">⭐️ 4.9</span>
                    <span class="restaurant-name">아키토리 신세츠</span>
                    <p class="restaurant-details">아키토리 | 부산 광안리</p>
                </div>
            </div>
            <div class="restaurant-card">
                <div class="restaurant_image_box">
                    <img src="https://img.siksinhot.com/place/1675994382900282.jpg" alt="너버원" class="restaurant-image">
                </div>
                <div class="restaurant-info">
                    <span class="rating">⭐️ 4.8</span>
                    <span class="restaurant-name">너버원</span>
                    <p class="restaurant-details">부산 광안리</p>
                </div>
            </div>
            </div>
            <button class="long_button more">전체보기 &gt;</button>
        </div>


        <button class="reserve"> 예약하기</button>
    </div>
</div>

  
</body>
</html>