<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모든 식당</title>
    <link href="/css/user/header.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <h1>헤더는 왜 안나올까</h1>
      <header-component></header-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/js/Header.js"></script>
    <!-- 컴포넌트 등록 파일 -->
    <script src="/js/your-main-vue-instance.js"></script>
    <!-- Vue 인스턴스 생성 파일 -->
  </body>
</html>
