<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.admin.users.adminUsersMapper">
<select id="adminLoginInfo" parameterType="map"
		resultType="com.team.goott.admin.domain.AdminDTO">
		SELECT * FROM admin WHERE id = #{id} AND password = SHA2(#{password}, 256)
	</select>
</mapper>