<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mappers.owner.menu.ownerMenuMapper">
	<select id="getAllMenu" resultType="com.team.goott.owner.domain.MenuDTO">
		select * from menu where storeId = #{storeId}
	</select>
	
	<select id="getMenu" resultType ="com.team.goott.owner.domain.MenuDTO">
		select * from menu where menuId = #{menuId}
	</select>
	
	<insert id="uploadMenu">
		insert into menu(storeId, menuName, price, menuImageUrl, menuImageName, description, isMain )
		 values(#{storeId}, #{menuName}, #{price}, #{menuImageUrl}, #{menuImageName}, #{description}, #{isMain})
	</insert>
	
	<delete id="deleteMenu">
		delete from menu where menuId = #{menuId}
	</delete>
	
	<update id="updateMenu">
		update menu 
		set menuName = #{menuName}, price = #{price}, menuImageUrl = #{menuImageUrl} , 
		menuImageName = #{menuImageName} , description = #{description}, isMain = #{isMain} where menuId = #{menuId};
	</update>
	
	<update id="updateMenuWithoutFile">
		update menu 
		set menuName = #{menuName}, price = #{price}, 
	    description = #{description}, isMain = #{isMain} where menuId = #{menuId};
	</update>
	

</mapper>